#boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #f6f6fe;
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 160px;
    gap: 16px;
  }
  
 

  #controls {
    border-radius: 8px;
    padding: 32px;
    width: 486px;
    height: 104px;
    background: #f6f6fe;
    margin-bottom: 16px;
  }

   #controls input {
    border: 1px solid #808080;
border-radius: 8px;
padding: 8px 72px;
width: 150px;
height: 40px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
text-align: center;
padding: 8px 72px;
margin-right: 16px;
   }

   #controls button {
    border-radius: 8px;
padding: 8px 16px;
width: 120px;
height: 40px;
border: none;
cursor: pointer;
}